In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt 

#read data from CSV file
d1 = pd.read_csv(r"C:\Users\NGUYEN MINH TUYET\DA PF\Dataset\Raw_data\Uniace_1.csv")
d2 = pd.read_csv(r"C:\Users\NGUYEN MINH TUYET\DA PF\Dataset\Raw_data\Uniace_2.csv")
d3 = pd.read_csv(r"C:\Users\NGUYEN MINH TUYET\DA PF\Dataset\Raw_data\Uniace_3.csv")
df = pd.concat([d1, d2, d3], ignore_index=True)
df.head()

C:\Users\NGUYEN MINH TUYET\AppData\Local\Temp\ipykernel_20000\2860901407.py:8: DtypeWarning: Columns (0,10,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  d1 = pd.read_csv(r"C:\Users\NGUYEN MINH TUYET\DA PF\Dataset\Raw_data\Uniace_1.csv")

,Email,Type,Name,Title,MA URL,MA Referrer,ma_path,IP Address,cuid,Date,Message Id,Template Id,List Id,Form Id,Campaign Id,Campaign Name,Scenario Id,URL,Link,Tag
0,01202743441vy@gmail.com,templates_open,young-talent-reactivate,NaN,NaN,NaN,NaN,01202743441vy@gmail.com,NaN,14-08-2021 16:56:41,<202108140556.49300678081@smtp-relay.mailin.fr>,26.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[""young-talent-reactivate""]"
1,01202743441vy@gmail.com,list_addition,NaN,NaN,NaN,NaN,NaN,01202743441vy@gmail.com,NaN,14-08-2021 12:56:00,NaN,NaN,40.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN
2,030234180031@st.buh.edu.vn,list_addition,NaN,NaN,NaN,NaN,NaN,030234180031@st.buh.edu.vn,NaN,14-08-2021 12:55:56,NaN,NaN,40.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN
3,030235190162@st.buh.edu.vn,list_addition,NaN,NaN,NaN,NaN,NaN,030235190162@st.buh.edu.vn,NaN,14-08-2021 12:55:56,NaN,NaN,40.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN
4,030334180112@st.buh.edu.vn,page,KHÓA HỌC YOUNG TALENT,KHÓA HỌC YOUNG TALENT,https://uniace.vn/product/young-talent/,NaN,/product/young-talent/,030334180112@st.buh.edu.vn,13339736-d7ae-47a9-83bc-bf0f2969091e,18-08-2021 16:14:06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

-> Ghép 3 file excel và đổi định dạng str cho cột email, tách cột thời gian làm ngày và giờ

##### Tổng quan các giá trị null và type của các cột

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94080 entries, 0 to 94079
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Email          38554 non-null  object
 1   Type           94080 non-null  object
 2   Name           85229 non-null  object
 3   Title          80864 non-null  object
 4   MA URL         79881 non-null  object
 5   MA Referrer    61136 non-null  object
 6   ma_path        79837 non-null  object
 7   IP Address     80364 non-null  object
 8   cuid           61617 non-null  object
 9   Date           69832 non-null  object
 10  Message Id     5562 non-null   object
 11  Template Id    1473 non-null   object
 12  List Id        4628 non-null   float64
 13  Form Id        0 non-null      float64
 14  Campaign Id    0 non-null      float64
 15  Campaign Name  0 non-null      float64
 16  Scenario Id    4024 non-null   float64
 17  URL            937 non-null    object
 18  Link           1022 non-null   object
 19  Tag            4347 non-null   object
dtypes: float64(5), object(15)
memory usage: 14.4+ MB

##### Loại bỏ trùng lặp

In [3]:
df.drop_duplicates(inplace=True)

##### Loại bỏ các cột null toàn bộ hoặc không có ý nghĩa để phân tích

In [4]:
df = df.drop(columns=['Form Id','Campaign Id','Campaign Name','Message Id','Template Id','List Id','Scenario Id','URL','Link','Tag'])

##### Tính tỉ lệ giá trị null của các cột

In [5]:
(df.isnull().sum()/(len(df)))*100

Email          59.609760
Type            0.000000
Name           11.704450
Title          16.289288
MA URL         17.603361
MA Referrer    36.772076
ma_path        17.647301
IP Address     16.138245
cuid           42.193143
Date           27.909978
dtype: float64

##### Tách ra làm 2 nhóm là 1. không có dòng nào null và 2. có bất kỳ cột nào null

In [6]:
df_na = df[df.isnull().any(axis=1)]
df_non_na = df.dropna()
df_non_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6691 entries, 5 to 74304
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Email        6691 non-null   object
 1   Type         6691 non-null   object
 2   Name         6691 non-null   object
 3   Title        6691 non-null   object
 4   MA URL       6691 non-null   object
 5   MA Referrer  6691 non-null   object
 6   ma_path      6691 non-null   object
 7   IP Address   6691 non-null   object
 8   cuid         6691 non-null   object
 9   Date         6691 non-null   object
dtypes: object(10)
memory usage: 575.0+ KB

In [7]:
df_na.info()

<class 'pandas.core.frame.DataFrame'>
Index: 66136 entries, 0 to 94059
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Email        22724 non-null  object
 1   Type         66136 non-null  object
 2   Name         57612 non-null  object
 3   Title        54273 non-null  object
 4   MA URL       53316 non-null  object
 5   MA Referrer  39356 non-null  object
 6   ma_path      53284 non-null  object
 7   IP Address   54383 non-null  object
 8   cuid         35408 non-null  object
 9   Date         45810 non-null  object
dtypes: object(10)
memory usage: 5.6+ MB

In [8]:
# df.dropna(subset=['cuid','Date','Name'],inplace=True)

In [9]:
# df.fillna('Unknown', inplace=True)
# df.head(10)

##### Loại bỏ giá trị giá trị null ở cột Date

In [10]:
df.dropna(subset=['Date'],inplace=True)

##### Tách cột Date thành cột chỉ có ngày và cột chỉ có giờ

In [11]:
df_datetime = pd.to_datetime(df['Date'], format='mixed', dayfirst=True, errors='coerce')
df['Date_only']=df_datetime.dt.date
df['Time']=df_datetime.dt.time

##### Phát hiện các định dạng Date không đúng nên loại bỏ

In [12]:
filtered_df = df[df['Date_only'].isna()]
filtered_df.head(5)

,Email,Type,Name,Title,MA URL,MA Referrer,ma_path,IP Address,cuid,Date,Date_only,Time
3655,hanny.hanhnguyen31399@gmail.com,templates_open,young-talent-reactivate,NaN,NaN,NaN,NaN,thaotrangdang56@gmail.com,NaN,26,NaT,NaT
3656,hanny.hanhnguyen31399@gmail.com,templates_click,young-talent-reactivate,NaN,NaN,NaN,NaN,thaotrangdang56@gmail.com,NaN,26,NaT,NaT
3657,hanny.hanhnguyen31399@gmail.com,templates_open,young-talent,NaN,NaN,NaN,NaN,thaotrangdang56@gmail.com,NaN,20,NaT,NaT
3659,hanny.hanhnguyen31399@gmail.com,templates_open,young-talent,NaN,NaN,NaN,NaN,thaotrangdang56@gmail.com,NaN,22,NaT,NaT
3661,hanny.hanhnguyen31399@gmail.com,templates_open,young-talent,NaN,NaN,NaN,NaN,thaotrangdang56@gmail.com,NaN,10,NaT,NaT

In [13]:
df.dropna(subset=['Date_only'],inplace=True)

##### Fill các giá trị null thành Unknown

In [14]:
# df.fillna('Unknown', inplace=True)
# df.head(5)

##### Tổng quan giá trị các cột

In [15]:
df['Email'].value_counts()

Email
baongandong@gmail.com          492
ha.hth@outlook.com.vn          432
vothingocthao2001@gmail.com    371
camthuvo2072001@gmail.com      338
kieuanh4003@gmail.com          329
                              ...
huy87132@gmail.com               1
phuongthenhh@gmail.com           1
dolam98@gmail.com                1
dangdinhtran0@gmail.com          1
anhlai721997@gmail.com           1
Name: count, Length: 2227, dtype: int64

In [16]:
df['Type'].value_counts()

Type
page                     43089
list_addition             4687
templates_open            2704
templates_click            646
identify                   641
form                        13
templates_unsubscribe        4
Name: count, dtype: int64

In [17]:
df['Name'].value_counts()

Name
Unique Analytics Center for Everyone - uniace.vn                   4586
Hướng Dẫn Cách Copy Giữ Nguyên Giá Trị Trong Excel                 4468
TÀI KHOẢN - uniace.vn                                              3689
Chương Trình Young Talent Program - Uniace Việt Nam                3365
Cách lấy dữ liệu từ bảng này sang bảng khác trong Excel            2822
                                                                   ...
Tỉ trọng theo cột. (5:16 phút) - uniace.vn                           1
111 Tiêu chuẩn giao tiếp (Visual Guide) - uniace.vn                   1
Ngữ cảnh Row Context - Ví dụ 1. (12:17 phút) - uniace.vn             1
Ngữ cảnh Context Transition - Ví dụ 1. (9:01 phút) - uniace.vn       1
Ngữ cảnh Context Transition - Tóm tắt. (7:13 phút) - uniace.vn       1
Name: count, Length: 736, dtype: int64

In [18]:
df['ma_path'].value_counts()

ma_path
/                                                            4637
/cach-copy-giu-nguyen-gia-tri-trong-excel/                   4466
/cach-lay-du-lieu-tu-bang-nay-sang-bang-khac-trong-excel/    2822
/vyt/                                                        2179
/vyt-private/                                                1804
                                                             ...
/lesson/tai-lieu-cho-cac-bai-ke-tiep-4-2-4/                     1
/lesson/tai-lieu-cho-cac-bai-ke-tiep-4-5/                       1
/vyt-/                                                          1
/lesson/tech2-progress/                                         1
/vyt-4                                                          1
Name: count, Length: 1039, dtype: int64

In [19]:
df['cuid'].value_counts()

cuid
c7ff913e-2cee-484e-9777-40bffee8db3e    657
79c9ee6b-835b-4642-b9e9-21662bc9229b    489
3af6e607-5c8c-4233-b24b-1353e3728b17    318
b01a3e26-3b75-4ac9-91b5-d093e786a67a    263
1207c7a0-ea4b-45aa-947e-a9eae452a9e7    259
                                       ...
99ffbe0e-b405-46ea-b7fd-8b4aebc7a0dc      1
6ec1942b-6c35-4a63-b036-fa22942e800e      1
d17341e7-e477-42d0-90dc-caf488e0a107      1
68a79a2c-5324-4008-ae9f-34f42eae57cb      1
ce108327-c464-449d-ae6e-14a4d07b537c      1
Name: count, Length: 9032, dtype: int64

##### Tách đuôi email để phân loại tài khoản truy cập

In [20]:
a = df['Email'].str.split('@', expand=True)
a[1].value_counts()

1
gmail.com               14038
outlook.com.vn            592
outlook.com               483
uef.edu.vn                252
st.ueh.edu.vn             222
                        ...
gamil.com                   2
gamail.com                  2
student.hcmiu.edu.vn        2
saigontech.net              2
stu.ptit.edu.vn             2
Name: count, Length: 70, dtype: int64

In [21]:
df['Type_email'] = np.select(
    [
        df['Email'].str.contains('@.*edu', case=False, na=False),
        df['Email'].str.contains('uniace', case=False, na=False),
        df['Email'].str.contains('@.*gmail', case=False, na=False)
    ],
    [
        'Sinh viên',
        'Thành viên',
        'Gmail'
    ],
    default='Khác'
)
df.head(5)

,Email,Type,Name,Title,MA URL,MA Referrer,ma_path,IP Address,cuid,Date,Date_only,Time,Type_email
0,01202743441vy@gmail.com,templates_open,young-talent-reactivate,NaN,NaN,NaN,NaN,01202743441vy@gmail.com,NaN,14-08-2021 16:56:41,2021-08-14,16:56:41,Gmail
1,01202743441vy@gmail.com,list_addition,NaN,NaN,NaN,NaN,NaN,01202743441vy@gmail.com,NaN,14-08-2021 12:56:00,2021-08-14,12:56:00,Gmail
2,030234180031@st.buh.edu.vn,list_addition,NaN,NaN,NaN,NaN,NaN,030234180031@st.buh.edu.vn,NaN,14-08-2021 12:55:56,2021-08-14,12:55:56,Sinh viên
3,030235190162@st.buh.edu.vn,list_addition,NaN,NaN,NaN,NaN,NaN,030235190162@st.buh.edu.vn,NaN,14-08-2021 12:55:56,2021-08-14,12:55:56,Sinh viên
4,030334180112@st.buh.edu.vn,page,KHÓA HỌC YOUNG TALENT,KHÓA HỌC YOUNG TALENT,https://uniace.vn/product/young-talent/,NaN,/product/young-talent/,030334180112@st.buh.edu.vn,13339736-d7ae-47a9-83bc-bf0f2969091e,18-08-2021 16:14:06,2021-08-18,16:14:06,Sinh viên

In [22]:
b = df['ma_path'].str.split('/', expand=True)
df['path1'] = b[1]

##### Chuẩn hóa lại tên cột

In [25]:
# safer: rename bya column names (works regardless of current columnd order or count)
df.rename(
	columns={
		'Email': 'email',
		'Type': 'type',
		'Name': 'name',
		'Title': 'title',
		'MA URL': 'ma_url',
		'MA Referrer': 'ma_referrer',
		'ma_path': 'ma_path',
		'IP Address': 'ip_address',
		'cuid': 'cuid',
		'Date': 'datetime',
		'Date_only': 'date',
		'Time': 'time',
		'Type_email': 'email_type',
        'path1': 'path1'
	},
	inplace=True
)
df.sample(5)

,email,type,name,title,ma_url,ma_referrer,ma_path,ip_address,cuid,datetime,date,time,email_type,path1
2237,dohien9701@gmail.com,templates_open,young-talent-reactivate,NaN,NaN,NaN,NaN,nxnghii1939@gmail.com,NaN,15-08-2021 18:15:12,2021-08-15,18:15:12,Gmail,NaN
74252,NaN,page,Tự động hóa Excel bằng Power Query thay cho VBA,Tự động hóa Excel bằng Power Query thay cho VBA,https://uniace.vn/tu-dong-hoa-excel-bang-power...,NaN,/tu-dong-hoa-excel-bang-power-query/,66.249.64.120,99ffbe0e-b405-46ea-b7fd-8b4aebc7a0dc,12/8/2021 1:35,2021-08-12,01:35:00,Khác,tu-dong-hoa-excel-bang-power-query
73522,NaN,page,Young Talent Program (Private) - uniace.vn,Young Talent Program (Private) - uniace.vn,https://uniace.vn/vyt-private/?utm_source=tikt...,https://beacons.page,/vyt-private/,118.71.170.40,aee44790-c1dd-4bca-9952-cbdb056f3452,12/8/2021 18:43,2021-08-12,18:43:00,Khác,vyt-private
67393,NaN,page,Hướng Dẫn Cách Copy Giữ Nguyên Giá Trị Trong E...,Hướng Dẫn Cách Copy Giữ Nguyên Giá Trị Trong E...,https://uniace.vn/cach-copy-giu-nguyen-gia-tri...,https://www.google.com/,/cach-copy-giu-nguyen-gia-tri-trong-excel/,59.153.249.5,14c64ecc-e284-464a-b053-7f6c5717a0a3,14-08-2021 17:37:36,2021-08-14,17:37:36,Khác,cach-copy-giu-nguyen-gia-tri-trong-excel
88877,ngocdiemtb.dmx@gmail.com,list_addition,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14-08-2021 12:57:07,2021-08-14,12:57:07,Gmail,NaN

In [24]:
df.to_csv(r"C:\Users\NGUYEN MINH TUYET\DA PF\Dataset\cleaned_uniace.csv", encoding='utf-8-sig', index=False)